html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	/* vertical-align: baseline; */
}

/* Style for  all headers, H1 - H6 */
/* Baseline: Makes text size responsive to screen size */
body {
    /* font-family: Georgia, serif; Or your chosen serif */
    font-size: 17px; /* Adjust as needed */
    line-height: 1.55; 
    color: #222; /* Slightly softer than pure black */
    margin: 0; /* Reset default browser margins */
}

h1, h2, h3 {
    font-weight: bold;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 2.5em; 
}

h2 { 
    font-size: 2em;  
}

  

.site-header {
    background-color: #303134;
}

.site-title, .site-title:visited {
    color: #828282;
    font-weight: bold;
}

.site-title, .site-title:visited:hover {
    color: #fff;
    font-weight: bold;

}

.site-nav .page-link {
    color: #e8e8e8;
}

.page-content {
    background-color: #e8e8e8;
}


.site-footer{
    background-color: #303134;
}

.post-list-heading {
    margin-bottom: 30px;
    font-size: 36px;
}

.post-list{
    margin-left: 0;
    list-style: none;
}

.post-list li{
    border-top: 1px solid #828282;
}

.post-meta {
    font-size: 14px;
    color: #828282;
}

.post-link > a {
    display: block;
    font-size: 32px;
    color: #ff5e1a;
 
}

.post-content p, h1, h2{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 15px;
}

.footer-heading {
    color: #e8e8e8;
}

blockquote {
    font-style: italic;
    border-left: 5px solid #ccc; 
    padding-left: 15px;
    margin-left: 20px;
}

.my-center-embed {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block; 
  }

  blockquote {
    background-color: #222; /* Dark background */
    color: #f0f0f0; /* Light, crisp text */
    border: none;  /* Remove the border entirely */
    padding: 30px;
    margin: 30px 0; 
    font-family: 'Adobe Jenson', serif; 
    font-style: italic;
}

blockquote p {
    font-size: 19px; 
    line-height: 1.5; 
    letter-spacing: 1px; /* Adjust the '1px' value as desired */
}

blockquote cite {
    display: block;
    text-align: right; 
    color: #999;  /* Slightly lighter attribution */ 
    margin-top: 15px; 
}

figcaption {
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
}
