@-webkit-keyframes fadeUpAway {
    0% {
        top:0px;
        opacity: 100;
    }
    75% {
        top:0px;
    }
    100% {
        top:-400px;
        opacity: 0;
    }
  }

@-webkit-keyframes fadeIn {
      0% {
          /*top:-20px;*/
          opacity: 0;
      }
      100% {
          /*top:0;*/
          opacity: 100;
      }
    }

@-webkit-keyframes riseUp {
          0% {
              bottom:-400px;
          }
          100% {
              bottom:0;
          }
        }

@-webkit-keyframes bigNum {
          0% {
              font-size: 2em
          }
          80% {
            font-size: 8em
          }
          100% {
              font-size: 2em
          }
        }





h1 {
  font-family: "filson-soft",sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 5em;
  color: red;
}

.cta {
  position: absolute;
  width: 30em;
  margin-left: -15em;
  left: 50%;
  pointer-events: none;
}


.punchCounter {
  opacity: 0;
  position: absolute;
  bottom: 20em;
  right: 20em;
}

.punchCounter h2 {
  font-family: "filson-soft",sans-serif;
  text-transform: uppercase;
  text-align: left;
  font-size: 1em;
  color: red;
  pointer-events: none;
  position: absolute;
  left: -157px;
  bottom: 30px;
}

.punchCounter h3 {
  font-family: "filson-soft",sans-serif;
  text-transform: uppercase;
  text-align: left;
  font-size: 2em;
  color: red;
  pointer-events: none;

}

.bigNumber{
    -webkit-animation: bigNum .3s forwards;
}


.fadeOut {
  -webkit-animation: fadeUpAway 3s forwards;
}

.fadeIn {
  -webkit-animation: fadeIn 3.5s forwards;
}

.usa1 {
  pointer-events: none;
  width: 270px;
  height: 270px;
  background-repeat: no-repeat;
  background-image: url('../usa.gif');
}

.usa1-r {
  pointer-events: none;
  position: absolute;
  width: 270px;
  height: 270px;
  background-repeat: no-repeat;
  background-image: url('../usa.gif');
  transform: scaleX(-1);
  right: 0;
  top: 0;

}

#snoop {
  pointer-events: none;
  position: absolute;
  width: 270px;
  height: 270px;
  background-repeat: no-repeat;
  background-image: url(../snoop.gif);
  bottom: -300px;

}

#snoop.snoopRise {
  -webkit-animation: riseUp 3s forwards;
}

video#mainVid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}


.explode{
  position: absolute;
  overflow:visible;
  pointer-events:none;
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-image: url('../explode.gif');
  margin-left: -56px;
  margin-top: -147px;
}
